<select>
	<option value="1"  >Moho</option>
	<option value="2"  >Eve</option>
	<option value="2.1">- Gilly</option>
	<option value="3"  >Kerbin</option>
	<option value="3.1">- Mun</option>
	<option value="3.2">- Minmus</option>
	<option value="4"  >Duna</option>
	<option value="4.1">- Ike</option>
	<option value="5"  >Dres</option>
	<option value="6"  >Jool</option>
	<option value="6.1">- Laythe</option>
	<option value="6.2">- Vall</option>
	<option value="6.3">- Tylo</option>
	<option value="6.4">- Bop</option>
	<option value="6.5">- Pol</option>
	<option value="7"  >Eeloo</option>
</select>
<br><br>
<span style="padding:1em;margin:1em;border:1px solid black;background:eee">Drag and drop file here (dummy)</span>
<br><br>
<button>Submit (dummy)</button>

